<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="edu.kosmo.mjy.mapper.AdminMapper">

	<select id="productEnroll">
		insert into product(productid, productname,
		productprice, productdes, productstock) values(#{productid},
		#{productname}, #{productprice}, #{productdes},
		#{productstock})
	</select>

	<select id="getProductList"
		resultType="edu.kosmo.mjy.vo.ProductVO">
		select productid, productname, productprice, productdes,
		productstock from product order by productid
	</select>


	<select id="read" resultType="edu.kosmo.mjy.vo.ProductVO">
	<![CDATA[
		select * from product where productid = #{productid}
	]]>
	</select>

	<update id="update" >
	<![CDATA[
		update product set productname = #{productname}, productprice = #{productprice},
		productdes = #{productdes}, productstock = #{productstock} where productid = #{productid}	
	]]>
	</update>
	
	<delete id="delete" >
	<![CDATA[
		delete from product where productid = #{productid}
	]]>
	</delete>



</mapper>
