<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="edu.kosmo.mjy.mapper.ProductDetailMapper">

	<select id="getProductInfo" resultType="edu.kosmo.mjy.vo.ProductVO">
	<![CDATA[
		select * from product where productid = #{productid}
	]]>
	</select>

	



</mapper>
